<div class="index-body">
  <div class="layout-row flex">
    <div class="flex heading"><h1 class="heading-content">Employee Portal</h1></div>
  </div>
  <div>
    <div class="layout-row layout-wrap flex">
      <div class="flex-20 layout-column first-card">
        <div class="first-card-content">
          <p class="card-details">{{model.length}}</p>
          <p>Employees</p>
        </div>
        <div>
          {{#paper-button class="primary-button"raised=true primary=true onClick=(action "addEmployee")}}+Add Employee{{/paper-button}}
        </div>
      </div>
      {{#each model as |employee|}}
        <div class="flex-20 cards">
          <div class="layout-column  flex" onclick={{action 'openDetails' employee.id}}>
            {{#paper-card class="card" as |card| }}
             <img src={{employee.picture}} size="xl" class="user" />
              {{#card.title class="card-title" as |title|}}
                {{#title.text as |text|}}
                  {{#text.subhead class="details name"}}{{employee.firstName}} {{employee.middleName}} {{employee.lastName}}{{/text.subhead}}
                  {{#text.subhead class="details"}}{{employee.role}}{{/text.subhead}}
                  {{#text.subhead class="details"}}{{employee.phoneNo}}{{/text.subhead}}
                {{/title.text}}
              {{/card.title}}
            {{/paper-card}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
{{outlet}}