{{#paper-form onSubmit=(action "saveModel") as |form|}}

  <div class="layout layout-sm-row">
    <div class="flex-70"><h1>Add New Employee</h1></div>
    <div class="layout layout-sm-row">
      <div class="flex">
        {{#paper-button class="cancel-button button" raised=true onClick=(action "cancel")}}Cancel{{/paper-button}}
      </div>
      <div class="flex">
        {{#form.submit-button class="button" raised=true}}Add{{/form.submit-button}}
      </div>
    </div>
  </div>
  {{input type="file" id="file-field" value=file}}
  <div class="layout layout-sm-column">
    {{form.input class="flex-30" label="FirstName" required=true maxlength=20 value=employee.firstName
                 onChange=(action (mut employee.firstName))}}
    {{form.input class="flex-30" label="MiddleName" maxlength=20 value=employee.middleName
                 onChange=(action (mut employee.middleName))}}
    {{form.input class="flex-30" label="LastName" required=true maxlength=20 value=employee.lastName
                 onChange=(action (mut employee.lastName))}}
  </div>
  <div class="layout layout-sm-column">
    {{form.input class="flex-30" type="email" label="EmailId" required=true value=employee.emailId
                 onChange=(action (mut employee.emailId)) customValidations=emailValidation}}
    {{form.input class="flex-30" label="Phone Number" required=true maxlength=10 value=employee.phoneNo
                 onChange=(action (mut employee.phoneNo))}}
  </div>
  <div class="layout layout-sm-column">
    <div class="flex-30">
      {{#paper-select
        label="Employee Role"
        options=roles
        required=true
        selected=employee.role
        onChange=(action (mut employee.role))
      as |role|}}
        {{role}}
      {{/paper-select}}
    </div>
    <div class="flex-30">
      {{#paper-select
        label="Employee Location"
        options=locations
        required=true
        selected=employee.location
        onChange=(action (mut employee.location))
      as |location|}}
        {{location}}
      {{/paper-select}}
    </div>
    <div class="flex-30">
      <label>
        Select Joining Date:
        {{pikaday-input required=true onSelection=(action (mut employee.joinDate))}}
      </label>
    </div>
  </div>
  <div class="layout layout-sm-column">
    {{form.input class="flex-30" label="Picture" required=true value=employee.picture
                 onChange=(action (mut employee.picture))}}
    {{form.input class="flex-30" label="Bio" maxlength=300 required=true value=employee.bio
                 onChange=(action (mut employee.bio))}}
    {{paper-chips
      readOnly=readOnly
      removeItem=(action "removeSkill")
      addItem=(action "addSkill")
      placeholder="Add a skill"
      content=selectedSkills
      options=skills
      requireMatch=true
    }}
  </div>
  <div class="layout layout-sm-column">
    <div class="flex-30">
      {{#paper-select
        label="Employee Project"
        options=projects
        required=true
        selected=employee.project
        onChange=(action (mut employee.project))
      as |project|}}
        {{project}}
      {{/paper-select}}
    </div>
    <div class="flex-30">
      {{#paper-select
        label="Employee Department"
        options=departments
        required=true
        selected=employee.department
        onChange=(action (mut employee.department))
      as |department|}}
        {{department}}
      {{/paper-select}}
    </div>
    <div class="flex-30">
      {{#paper-select
        label="Report To Employee"
        options=reportToEmployees
        selected=employee.reportEmployee
        onChange=(action (mut employee.reportEmployee))
      as |reportToEmployee|}}
        {{reportToEmployee}}
      {{/paper-select}}
    </div>
  </div>
{{/paper-form}}
{{outlet}}